.app {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.wrapper {
    flex: 1;
}

.content {
    padding: 20px 24px;
    &--pading {
        padding-left: 47px;
        padding-right: 47px;
    }
}
