.menu {
    &__list {
    }

    &__item {
        display: flex;
        padding: 12px 0;
        align-items: center;
        padding-left: 16px;
        margin-bottom: 12px;

        &:not(.menu__item--active):hover {
            background-color: #e5e5e5;
        }
        &--active {
            background-color: #019160;
            & .menu {
                &__link {
                    color: #fff;
                }
            }
        }
    }

    &__link {
        font-size: 13px;
        color: #000;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 20px;
        margin-right: 10px;
    }
}
